PORT=3000
NODE_ENV=development
APP_NAME=OmniRetail
APP_BASE_URL=http://localhost:3000

# Database
MONGODB_URI=mongodb://localhost:27017/omniretail_db

# Session
SESSION_SECRET=omniretail_super_secret_key

# Email
SMTP_USER=
SMTP_PASS=